@import url("https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:ital,wght@0,100;0,400;1,600&family=Open+Sans:wght@700&family=Poppins:wght@100;400;600&family=Work+Sans:wght@500&display=swap");

body {
height: 0;
padding: 0;
}
.FullBg {
  background-image: url(./assets/background2.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 50rem;
}

/* HOME */
.Main-higlight h1 {
  color: white;
  margin-left: 7rem;
  margin-top: 8rem;
  font-weight: bold;
  font-size: 50px;

}



.Main-higlight h4 {
  color: white;
  margin-left: 7rem;
  font-weight: bold;
}
/* ---------NAVBAR ------------------*/

nav.navbar {

  position: sticky;
  top: 0px;
}


a.navLink .navbar-nav {
  
  color: white;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.navbar-nav {
  margin-left: 16vw;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.profile-nav {
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
}

.profile-nav:hover {
  color: black;
}

.navbar-nav a:hover {
  color: black;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  
}

a.mt-2.nav-link {
  margin-right: 20px;
  color: white;
  font-weight: bold;
}

a.mt-2.nav-link:hover {
  color: black;
}

.btn-register a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.btn-register a:hover {
  color: white;
}

.btn-register {
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #ffffff;
  z-index: 1;
  background: transparent;
  position: relative;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn-register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn-register:hover {
  color: #e8e8e8;
}

.btn-register:hover::before {
  width: 100%;
}

Button#dropdown-basic-button.dropdown-toggle.btn.btn-primary {
  background: transparent;
  border: none;
  color: #000;
}
/* Modal Profile */
.titlePremiumProfile {
  margin-left: 140px;
}

img.img-profile {
  width: 100px;
  margin-left: 180px;
  border-radius: 20px;
}

.buttonAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  left: 140px;
  margin-bottom: 20px;
  top: 10px;
  height: 36px;
  width: 180px;
  border: none;
  background: #02000833;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: #020007;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.buttonAdmin:hover {
  background: #07021f4d;
}

.buttonAdmin:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* -----------NAVBAR END ------------- */

/*--------------- Promo Cards ----------*/
.fullCoverPromoAndText {
  width: 90%;
  height: 360px;
  /* background-color: #212121; */
  border-radius: 20px;
  margin: 40px auto 0 auto;
  color: black;
}
.fullCoverPromoAndText h3 {
  margin-top: 9rem;
  margin-left: 2rem;
}
.fullCoverPromo {
  width: 75%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

button.slick-arrow.slick-prev::before {
  color: black;
}

button.slick-arrow.slick-next::before {
  color: black;
}
.fullCoverKategori {
  /* background-color: rgb(235, 233, 233); */
  width: 80%;
  /* height: 400px;
    justify-content: center; */
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.fullCoverKategori h2 {
  margin-left: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: black;
}

.fullCoverBanner {
  /* background-color: rgb(235, 233, 233); */
  width: 80%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.fullCoverBanner h2 {
  margin-left: 30px;
}
.fullCoverActivity {
    background-color: rgb(235, 233, 233);
    width: 80%;
    /* height: 400px;
      justify-content: center; */
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.imgPromo {
  border-radius: 40px;
}

div.card {
  border: none;
  box-shadow: rgb(80, 79, 79) 5px 2px 5px;
  border-radius: 25px;
}

div.card-title.h5 {
  text-align: center;
  font-weight: bold;
}
.promoText {
  color: black;
  margin-left: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.coverPromoCards {
  margin-top: 15px;

}

.flip-card {
  background-color: white;
  width: 300px;
  height: 320px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  color: black;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border: 1px solid coral; */
  border-radius: 2rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    rgb(151, 212, 187) 60%,
    rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%,
    rgba(214, 106, 106, 0.603) 48%
  );
}

.flip-card-back {
  /* background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%); */
  color: black;
  transform: rotateY(180deg);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
.promoCodeCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.promoCodeCard {
  color: #27408b;
  font-weight: bold;
  margin-left: auto;
}

/*--------------- Promo Cards ends ----------*/

/* -------- Activities Cards--------------- */
.coveraActivitiesCards {
  display: flex;
}

.activitiesText {
  margin-top: 9rem;
  text-align: center;
  /* margin-inline: 10px; */
}

.r-container {
  overflow: hidden;
  position: relative;
}

.r-Head {
  margin-bottom: 2rem;
}

.judulCard {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 600;
}

.textCard {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2rem;
}

.r-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}

.r-card img {
  border-radius: 20px;
  width: 100%;
  max-width: 15rem;
}

.r-card>:nth-child(2)
{
  font-size: 1.2rem;
  font-weight: 600;
}

.r-card>:nth-child(3)
{
  font-size: 1.5rem;
}


.r-card>:nth-child(4)
{
  font-size: 0.7rem;
  width: 15rem;
}

.r-card:hover{
  scale: 1.025;
  cursor: pointer;
  background-color: linear-gradient (
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(136, 160, 255, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}
.swiper-horizontal {
  overflow: visible;

}
.cardWrapper {
  width: 70%;
  /* background-color: #212121; */
  margin: 5rem auto ;
}

.r-buttons {
  position: absolute;
  gap: 4rem;
  top: -4rem;
  right: 0;
}

.r-buttons button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.r-buttons >:nth-child(1) 
{
  background-color: #EEEEFF;
}

.r-buttons >:nth-child(2) 
{
  background-color: #EEEEFF;
 /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25) ; */
}

/* -------- Activities Cards End--------------- */

/* ------------------- REGISTER PAGES----------------------- */

.FullRegisterPage {
  width: 90%;
  height: 90vh;
  background-color: #e7e7e7;
  box-shadow: #282936 2px 2px 2px 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  margin: 20px auto 20px auto;
}

.left-side {
  background-image: url("https://s3-alpha-sig.figma.com/img/7b64/f1c4/a41576f8199d6edb3d6e0d59abcd0352?Expires=1684713600&Signature=BdLm0boRdmhejoa8t03tuQ93BwrDjYbxyyS4Me1kL3keWjRaPtFOOoEvsqWXkN72BvQFv5YodXlt75IYyU5tsOls~m9j30VkSXkQEXKngPdz1ICFXdwe7zH4gHQRb62kPXvJMEzxfgmMrDnWMxuRWRP3ETvHryLF7WZwobGP4jDrg5hqdjbttOUCRet-YN46D1hfKxhkojv4eXPcC3BhAERFtfVXoNWvdlWBt3SM9slzFXdoGPND7o3E34qxm4ZLb39gAJZrerDHKs8FedadBUkucxh9HCtHJAgnTUNNdUe3zToUV6Eew4BBy25VtDXVD0WE5uLN9jJwPK0vH2DmTA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  /* background-color: #212121; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  aspect-ratio: 1 / 1;
  width: 150%;
  height: 90vh;
}
.left-side img {
  margin-top: 40px;
  width: 100%;
  height: 90.5vh;
  border-radius: 50px;
}
.left-side-title h3 {
  position: absolute;
  width: 510px;
  height: 186px;
  left: 180px;
  top: 220px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
}
.left-side-signup h5 {
  position: absolute;
  width: 510px;
  left: 190px;
  top: 420px;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
}
.left-side-or h5 {
  position: absolute;
  width: 510px;
  left: 300px;
  top: 460px;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
}

.left-side-button button {
  position: absolute;
  width: 510px;
  left: 60px;
  top: 500px;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
  /* background: #000; */
}

button.button {
  width: 200px;
  margin-left: 155px;
  margin-top: 20px;
  height: 50px;
}

.button {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 50px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.button::before {
  content: "Now!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg, #7b4397, #dc2430);
  transform: translate(0%, 90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button::after {
  content: "Getting Started";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%, -100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  transform: translate(0%, 0%);
}

.button:hover::after {
  transform: translate(0%, -200%);
}

.button:focus {
  outline: none;
}

.button:active {
  scale: 0.95;
}

.singup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}

.cardRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 350px;
  flex-direction: column;
  gap: 35px;
  border-radius: 50px;
  background: #f0f0f0;
  /* box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe; */
 
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 250px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid ~ span,
.inputBox1 input:focus ~ span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 30px;
}

/* ------------------- REGISTER PAGES END----------------------- */

/* --------------- CATEGORIES ADMIN PAGES----------------------  */
div.coverCategoriesAdmin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardUpdateCategoriesAdmin {
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.form .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.form .group input:placeholder-shown + label,
.form .group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #3366cc;
}

.form .group input:focus + label,
.form .group textarea:focus + label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #27408b;
}

/* --------------- HIGHLIGHT MASING MASING PAGES------------------- */
.fullCoverHighlight {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 50px;
}
.CoverHighlight {
  width: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

/* DASHBOARD ADMIN */
.JudulDashboard {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}


/* TES DESTINASI */
.destination {
  margin: 4rem 6rem;
}

.destination h1 {
  font-size: 3rem;
}

.first-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4,6rem;
}
.first-descdua {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4,6rem;
}

.desc-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem ;
  text-align: justify;
}

.desc-text h2 {
  padding-bottom: 1rem;
}

.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18 rgb(0, 0, 0, 0.19);
}

.image img:nth-child(2) {
  position: absolute;
  top: -10px;
  right: 0;
}


/*-------------------- DAHBOARD ADMIN -----------------------*/
.dashboardWrapper {
  width: 90%;
  margin: 0 auto;
}




.footer{
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: white;
}
.footer-content{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content  h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: black;

}
.footer-content p {
  max-width: 500px;
  margin:10px auto;
  line-height:  28px;
  font-size: 14px;
  color: white;
}

.footer-bottom {
  background: black;
  width:100vw;
  padding:20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}





/* END FOOTER */



@media screen and (max-width:1250px) {
  .cardRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 700px;
    flex-direction: column;
    gap: 25px;
    border-radius: 50px;

    /* box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe; */
   
  } 

  
}





@media screen and (max-width:850px) {
  .destination {
    margin: 4rem 2rem;
  }

  .first-desc {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }

  .desc-text {
    width: 100%;
    text-align: justify;
  }
  .first-descdua {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .image {
    width: 100%;
    margin: 1.8rem 0;
  }
  .image img {
    height: 250px;
  }
  
}