.FullBg {
  background-image: url(./assets/background2.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 50rem;
}

/* HOME */
.Main-higlight h1 {
  color: white;
  margin-left: 7rem;
  margin-top: 8rem;
  font-weight: bold;
  font-size: 50px;
}

.Main-higlight button {
  color: white;
  background-color: red;
  border-radius: 25px;
  border: none;
  padding: 20px;
  font-weight: bold;
  margin: 3rem 0 0 7rem;
}

.Main-higlight h4 {
  color: white;
  margin-left: 7rem;
  font-weight: bold;
}
/* ---------NAVBAR ------------------*/
a.navLink .navbar-nav {
  color: white;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.navbar-nav {
  margin-left: 16vw;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav a:hover {
  color: black;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
}

a.mt-2.nav-link {
  margin-right: 20px;
}

.btn-register a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn-register {
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: transparent;
  position: relative;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn-register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn-register:hover {
  color: #e8e8e8;
}

.btn-register:hover::before {
  width: 100%;
}


Button#dropdown-basic-button.dropdown-toggle.btn.btn-primary  {
  background: transparent;
  border: none;
  color: #000;
}

/* -----------NAVBAR END ------------- */

/*--------------- Promo Cards ----------*/
.fullCoverPromo {
  background-color: rgb(245, 243, 243);
  width: 75%;
  /* height: 400px;
  justify-content: center; */
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.imgPromo {
  border-radius: 40px;
}

div.card {
  border: none;
}

div.card-title.h5 {
  text-align: center;
  font-weight: bold;
}
.promoText {
  color: black;
  margin-left: 30px;
}

.coverPromoCards {
  margin-top: 15px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 320px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  color: black;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border: 1px solid coral; */
  border-radius: 2rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    rgb(109, 211, 168) 60%,
    rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%,
    rgba(214, 106, 106, 0.603) 48%
  );
}

.flip-card-back {
  /* background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%); */
  color: black;
  transform: rotateY(180deg);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/*--------------- Promo Cards ends ----------*/

/* -------- Activities Cards--------------- */
.coveraActivitiesCards {
  display: flex;
}

.activitiesText {
  margin-top: 9rem;
  text-align: center;
  margin-inline: 50px;
}

/* -------- Activities Cards End--------------- */

/* ------------------- REGISTER PAGES----------------------- */
.singup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  /* box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe; */
  border-radius: 8px;
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 250px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid ~ span,
.inputBox1 input:focus ~ span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 30px;
}

/* ------------------- REGISTER PAGES END----------------------- */


/* --------------- CATEGORIES ADMIN PAGES----------------------  */
div.coverCategoriesAdmin{
  display: flex;
    align-items: center;
    justify-content: center;
}

.cardUpdateCategoriesAdmin {
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.form .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #3366cc;
}

.form .group input:focus+ label, .form .group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #27408b;
}




/* -------------- CATEGORIES ADMIN PAGES END -------------------- */

table, th, td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}
th, td {

}